* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight:400;
    background-color: #f5f8fe;
    color: #2b2d42;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 200px;
    background-color: #ffffff;
    border-bottom: 1px solid #E5E7EB;
}

.logo {
    height: 45px;
}

.login {
    font-family: 'Inter', sans-serif;
    background: transparent;
    color: #2B2D42;

    border: none;

    padding: 15px;

    cursor: pointer;

    font-size: 16px;

    margin-right: 15px;
}

.register {
    font-family: 'Inter', sans-serif;

    background: #2B2D42;
    color: #ffffff;

    border: none;

    padding: 10px 16px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
}

.progress-container {
    max-width: 1000px;
    margin: 20px auto 0 auto;

}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-vragen {

    justify-content: space-between;

    margin: 10px 0;

    color: #555;
    font-size: 15px;

}

.progress-procent {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    color: #555;
    font-size: 15px;
}

.progress-bar {
    width: 100%;
    height: 8px;

    background: #dfe3ec;

    border-radius: 20px;

    overflow: hidden;
}

.progress-fill {
    width: 0%;
    height: 100%;

    background: #20233f;

    border-radius: 20px;
}



.question-section {
    text-align: center;
    margin-top: 140px;
}

.category {
    display: inline-block;

    padding: 10px 18px;

    background: #dfe8fb;
    color: #4b5b7d;

    border-radius: 999px;

    font-size: 14px;

    margin-bottom: 35px;
}

.question {
    max-width: 900px;

    margin: 0 auto;

    font-size: 58px;
    line-height: 1.15;

    font-weight: 700;
}

.antwoorden {
    display: flex;
    justify-content: center;

    gap: 25px;

    margin-top: 110px;
}

.antwoord-btn {
    width: 280px;
    height: 95px;

    border-radius: 14px;
    border: 2px solid #d8dce6;

    background: #ffffff;

    font-size: 28px;
    color: #111827;

    cursor: pointer;

    transition: 0.2s;
}

.antwoord-btn:hover {
    border-color: #20233f;
    transform: scale(1.05);
}

.antwoord-btn:active {
    background-color: #20233f;
    color: #ffffff;
}

.antwoord-btn.selected {
    background-color: #20233f;
    border-color: #20233f;
    color: #ffffff;
}

.footer-nav {
    max-width: 1000px;

    margin: 70px auto 0 auto;

    display: flex;
    justify-content: space-between;
}

.footer-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
    background-color: #dfe3ec00;
    color: #20233f;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.2s;
}

.footer-btn:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-btn.disabled {
    background-color: #dfe3ec00;
    color: #9aa1ad;
    cursor: not-allowed;
    border: none;  
}

.footer-btn.disabled:hover {
    background-color: #dfe3ec00;
    box-shadow: none;
}

.rotated {
    transform: rotate(180deg);
}